#container {
  width: 45%;
  position: relative;
  display: block;
  margin: auto;
  border: 1px solid black;
  overflow: hidden;
}
#container:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.grid {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  box-sizing: border-box;
}
.box {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}
#btn {
  display: block;
  margin: 10px auto 20px auto;
}
