#container {
  width: 500px;
  height: 500px;
  display: block;
  margin: auto;
}
.grid {
  display: grid;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}
.box {
  height: 100%;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
